@import "src/styles/sass/minimal";

/*=============================================
=            Login/Signup            =
=============================================*/

$width: 58.6rem;

.container {
  position: relative;
  min-width: 100vw;
  min-height: calc(100vh - $navbar-height);

  display: grid;
  justify-content: center;
  align-content: center;

  background-image: url(https://valuationary-react-static.s3.ap-south-1.amazonaws.com/assets/login/login_bg.svgz),
    $linGrad-H-blue-teal-light;
  background-repeat: no-repeat;
  background-size: cover;
}

.dialog {
  max-width: $width;
  width: min($width, 100vw);
  height: fit-content;
  margin: max(5rem, 5vh) 0;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100%;
  grid-gap: 1.8rem;

  background-color: $color-black-dark;
  border-radius: max(0px, min(1.2rem, calc((100vw - $width - 6px) * 9999)));
  text-align: center;

  .wrapper {
    padding: 6.4rem;
    padding-bottom: 4rem;
  }

  & h4 {
    margin-bottom: 1.8rem;
  }

  .form {
    margin-top: 4.2rem;
    margin-bottom: 3.6rem;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;

    & > * + * {
      margin-top: 3.2rem;
    }

    // helpful to fix the layout when debugForm is true
    & > div:last-child {
      text-align: start;
      width: 100%;
      overflow-x: auto;
    }

    &__button {
      background-color: $color-black-light;
    }

    .forgotPassword {
      margin-left: auto;
      margin-top: 1.6rem;
    }
  }
}

.horizontalSeparator {
  display: block;
  position: relative;

  height: 2rem;
  border: none;
  outline: none;

  &::before {
    content: "";
    @include vertically-centered;
    left: 0;
    width: 100%;
    height: 2px;

    background-color: currentColor;
    opacity: 0.2;
  }

  &::after {
    content: attr(data-content);
    @include absolute-center;

    padding: 0 2%;
    background-color: $color-black-dark;
  }
}

.idpButtons {
  height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  // background-color: $color-black-light;
  // border: 1px solid $color-blue-dark;
  border-radius: 4px;
  padding: 0.8rem;
}

.titleContainer {
  margin-bottom: 8rem;
}

.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.6rem;
}

/*=====  End of Login/Signup  ======*/
