@import "src/styles/sass/minimal";

/*=============================================
=            Home Page            =
=============================================*/

.banner-container {
  padding: 0 !important;

  background-color: $color-black-main;
  background-image: url("https://valuationary-react-static.s3.ap-south-1.amazonaws.com/assets/banner/bg.webp");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.statistics-container {
  background-color: $color-black-dark;
}

.pitch-container {
  background-color: $color-black-light;
}

.programs-container {
  background-color: $color-black-main;
}

.courses-container {
  background-color: $color-black-light;
}

.instructors-container {
  background-color: $color-black-lighter;
}

.gallery-container {
  background-color: $color-black-dark;

  .title {
    text-align: start;
    margin-bottom: 6rem;
  }
}

.reviews-container {
  background-color: $color-black-dark;
  overflow: hidden;
}

.media-container {
  background-color: $color-black-light;
}

.job-apply-banner-container {
  @extend %job-apply-banner-container;
}

.contact-container {
  background-color: $color-black-light;

  text-align: center;

  h2 {
    margin-bottom: 4.8rem;
  }
}

/*=====  End of Home Page  ======*/
